.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 100px;
}


.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.user {
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: violet;
  left: 50px;
  bottom: 50px;
}

.ball{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
